// Place all the styles related to the dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu {
  margin: 20px 0 20px;
}

.picture {
  text-align: center;
}

.action_link {
  padding-right: 10px;
}